In [138]:
import numpy as np
import pandas as pd
from sklearn import svm

In [139]:
train_df = pd.read_csv('input/train.csv')
test_df = pd.read_csv('input/test.csv')

In [198]:
def show_correlation_to_survival(target_column):
    print(train_df[[target_column, 'Survived']].groupby([target_column], as_index=False).mean().sort_values(by='Survived', ascending=False))
    print('\n')

In [199]:
column_list = train_df.columns.tolist()
column_list.remove('Survived')

In [200]:
for column in column_list:
    show_correlation_to_survival(column)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363


                                                  Name  Survived
559                             Moss, Mr. Albert Johan         1
472                       Lemore, Mrs. (Amelia Milley)         1
259                         Fortune, Miss. Mabel Helen         1
258                     Fortune, Miss. Alice Elizabeth         1
742                      Silven, Miss. Lyyli Karoliina         1
743                   Silverthorne, Mr. Spencer Victor         1
745          Silvey, Mrs. William Baird (Alice Munger)         1
461                                LeRoy, Miss. Bertha         1
252                                    Foo, Mr. Choong         1
251                   Flynn, Mr. John Irwin ("Irving")         1
747                Simonius-Blumer, Col. Oberst Alfons         1
748                              Sinkkonen, Miss. Anna         1
248                            Fleming, Miss. Margaret         1
462                        Leader, Dr. Alice (Farnham)         1
246  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...         1
463                  Leeni, Mr. Fahim ("Philip Zenni")         1
242                     Eustis, Miss. Elizabeth Mussey         1
241                      Endres, Miss. Caroline Louise         1
753                          Sjoblom, Miss. Anna Sofia         1
239                      Emanuel, Miss. Virginia Ethel         1
468                              Lehmann, Miss. Bertha         1
741                          Shutes, Miss. Elizabeth W         1
739       Shelley, Mrs. William (Imanita Parrish Hall)         1
263                     Francatelli, Miss. Laura Mabel         1
455                                     Lang, Mr. Fang         1
723                               Sagesser, Mlle. Emma         1
724                   Salkjelsvik, Miss. Anna Kristine         1
727                    Sandstrom, Miss. Marguerite Rut         1
728  Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...         1
452                                       Lam, Mr. Ali         1
..                                                 ...       ...
405                         Johansson, Mr. Gustaf Joel         0
406                          Johansson, Mr. Karl Johan         0
409                                Johnson, Mr. Alfred         0
410                       Johnson, Mr. Malkolm Joackim         0
411                    Johnson, Mr. William Cahoone Jr         0
413           Johnston, Miss. Catherine Helen "Carrie"         0
414                             Johnston, Mr. Andrew G         0
415                                 Jonkoff, Mr. Lalio         0
417                            Jussila, Miss. Katriina         0
390                       Jacobsohn, Mr. Sidney Samuel         0
389                                 Ivanoff, Mr. Kanio         0
388                         Isham, Miss. Ann Elizabeth         0
370                                  Hold, Mr. Stephen         0
355                             Hendekovic, Mr. Ignjac         0
356                                 Henry, Miss. Delia         0
360                          Hickman, Mr. Leonard Mark         0
361                                 Hickman, Mr. Lewis         0
362                        Hickman, Mr. Stanley George         0
366                        Hocking, Mr. Richard George         0
368                            Hodges, Mr. Henry Price         0
371                   Holm, Mr. John Fredrik Alexander         0
387                      Ilmakangas, Miss. Pieta Sofia         0
372                     Holverson, Mr. Alexander Oskar         0
376                               Hood, Mr. Ambrose Jr         0
377                                   Horgan, Mr. John         0
380                           Hoyt, Mr. William Fisher         0
382           Humblen, Mr. Adolf Mathias Nicolai Olsen         0
383                             Hunt, Mr. George Henry         0
384                       Ibrahim Shawah, Mr. Yousseff         0
890                        van Melkebeke, Mr. Philemon         0

[891 rows x 2 columns]


      Sex  Survived
0  female  0.742038
1    male  0.188908


      Age  Survived
88  80.00  1.000000
80  63.00  1.000000
17  12.00  1.000000
1    0.42  1.000000
10   5.00  1.000000
69  53.00  1.000000
18  13.00  1.000000
5    0.92  1.000000
4    0.83  1.000000
3    0.75  1.000000
2    0.67  1.000000
8    3.00  0.833333
21  15.00  0.800000
6    1.00  0.714286
9    4.00  0.700000
11   6.00  0.666667
64  48.00  0.666667
65  49.00  0.666667
48  35.00  0.611111
36  27.00  0.611111
75  58.00  0.600000
68  52.00  0.500000
71  55.00  0.500000
66  50.00  0.500000
32  24.00  0.500000
49  36.00  0.500000
77  60.00  0.500000
79  62.00  0.500000
43  32.00  0.500000
73  56.00  0.500000
..    ...       ...
14   9.00  0.250000
16  11.00  0.250000
28  21.00  0.208333
26  20.00  0.200000
58  43.00  0.200000
51  37.00  0.166667
63  47.00  0.111111
85  70.50  0.000000
84  70.00  0.000000
83  66.00  0.000000
86  71.00  0.000000
82  65.00  0.000000
81  64.00  0.000000
33  24.50  0.000000
87  74.00  0.000000
78  61.00  0.000000
55  40.50  0.000000
72  55.50  0.000000
76  59.00  0.000000
74  57.00  0.000000
15  10.00  0.000000
38  28.50  0.000000
41  30.50  0.000000
20  14.50  0.000000
27  20.50  0.000000
47  34.50  0.000000
62  46.00  0.000000
61  45.50  0.000000
50  36.50  0.000000
31  23.50  0.000000

[89 rows x 2 columns]


   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000


   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000


     Ticket  Survived
0    110152       1.0
180   26360       1.0
483  386525       1.0
479  382651       1.0
151  244373       1.0
152  248698       1.0
153  248706       1.0
465  370375       1.0
157  248733       1.0
158  248738       1.0
464  370373       1.0
461  370370       1.0
162  250644       1.0
454   36947       1.0
165  250648       1.0
166  250649       1.0
453   36928       1.0
168  250652       1.0
451   36866       1.0
445  367231       1.0
171    2620       1.0
444  367230       1.0
442  367228       1.0
174    2625       1.0
175    2626       1.0
441  367226       1.0
432  364516       1.0
484  392091       1.0
486  392096       1.0
489    4134       1.0
..      ...       ...
356  349209       0.0
355  349208       0.0
378  349239       0.0
380  349241       0.0
190    2662       0.0
381  349242       0.0
404  350042       0.0
403  350036       0.0
402  350035       0.0
192    2664       0.0
400  350029       0.0
399  350026       0.0
398  350025       0.0
397  349912       0.0
396  349910       0.0
395  349909       0.0
394  349257       0.0
193    2665       0.0
392  349254       0.0
391  349253       0.0
390  349252       0.0
389  349251       0.0
388  349249       0.0
387  349248       0.0
386  349247       0.0
385  349246       0.0
384  349245       0.0
197    2669       0.0
382  349243       0.0
340  347464       0.0

[681 rows x 2 columns]


         Fare  Survived
247  512.3292       1.0
196   57.9792       1.0
89    13.8583       1.0
88    13.7917       1.0
86    13.4167       1.0
83    12.6500       1.0
81    12.4750       1.0
79    12.2875       1.0
194   56.9292       1.0
77    12.0000       1.0
195   57.0000       1.0
74    11.1333       1.0
197   59.4000       1.0
52     8.5167       1.0
201   63.3583       1.0
202   65.0000       1.0
68     9.8417       1.0
204   69.3000       1.0
207   71.2833       1.0
209   75.2500       1.0
210   76.2917       1.0
211   76.7292       1.0
213   77.9583       1.0
214   78.2667       1.0
90    13.8625       1.0
191   55.4417       1.0
190   55.0000       1.0
188   52.5542       1.0
142   26.3875       1.0
141   26.2875       1.0
..        ...       ...
158   31.2750       0.0
136   25.9250       0.0
156   30.6958       0.0
147   27.9000       0.0
148   28.5000       0.0
113   18.0000       0.0
176   40.1250       0.0
198   61.1750       0.0
95    14.4583       0.0
71    10.4625       0.0
73    10.5167       0.0
76    11.5000       0.0
78    12.2750       0.0
82    12.5250       0.0
84    12.8750       0.0
91    14.0000       0.0
92    14.1083       0.0
93    14.4000       0.0
97    15.0000       0.0
112   17.8000       0.0
98    15.0458       0.0
99    15.0500       0.0
184   50.4958       0.0
183   50.0000       0.0
100   15.1000       0.0
103   15.5500       0.0
180   47.1000       0.0
179   46.9000       0.0
178   42.4000       0.0
124   21.0750       0.0

[248 rows x 2 columns]


  Cabin  Survived
3     D  0.757576
4     E  0.750000
1     B  0.744681
5     F  0.615385
2     C  0.593220
6     G  0.500000
0     A  0.466667
7     T  0.000000


  Embarked  Survived
0        0  1.000000
1        C  0.553571
2        Q  0.389610
3        S  0.336957

In [140]:
train_df.set_index(['PassengerId'],inplace=True)
test_df.set_index(['PassengerId'],inplace=True)

In [141]:
def preprocess_df(data):
    data['Age'] = data['Age'].fillna(0)
    data['Fare'] = data['Fare'].fillna(1000)
    data['Embarked'] = data['Embarked'].fillna(0)
    data['Cabin'] = data['Cabin'].fillna(0).str[0]
    return data

In [142]:
columns_to_use = ['Pclass', 'Sex','Age','SibSp','Parch','Fare','Embarked', 'Cabin']

In [143]:
# preprocess training and testing data sets
train_df = preprocess_df(train_df)
test_df = preprocess_df(test_df)

In [144]:
# set training features and labels
X_train = pd.get_dummies(train_df[columns_to_use])
y_train = train_df['Survived']

In [145]:
# set testing features
X_test = pd.get_dummies(test_df[columns_to_use])

In [146]:
missing_from_test = list(set(X_train.columns) - set(X_test.columns))

In [147]:
for x in missing_from_test:
    X_test[x] = 0

In [169]:
clf = svm.SVC()
clf.fit(X_train,y_train)
prediction = clf.predict(X_test)

In [174]:
predictions = pd.DataFrame(data=prediction, index=test_df.index.values, columns=['Survived'])
predictions = dfPrediction.reset_index(level=0)
predictions.drop('index', axis=1, inplace=True)

In [175]:
predictions.columns = ['PassengerId', 'Survived']

In [176]:
# write to csv
predictions.to_csv('predictions.csv', index=False)